[submodule "src/robotTool"]
	path = src/robotTool
	url = https://github.com/Worthington-Robotics/robotTool.git
[submodule "src/RosPathGen"]
	path = src/RosPathGen
	url = https://github.com/Worthington-Robotics/RosPathGen.git
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/coalman321/zed-ros2-wrapper.git
[submodule "src/2022VisionCode"]
	path = src/2022VisionCode
	url = https://github.com/Worthington-Robotics/2022VisionCode.git
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/Worthington-Robotics/web_video_server.git
	branch = ros2
[submodule "src/async_web_server_cpp"]
	path = src/async_web_server_cpp
	url = https://github.com/fkie/async_web_server_cpp.git
[submodule "src/AutonomousBehaviorTree"]
	path = src/AutonomousBehaviorTree
	url = https://github.com/Worthington-Robotics/AutonomousBehaviorTree.git
[submodule "src/shooter_intake"]
	path = src/shooter_intake
	url = https://github.com/Worthington-Robotics/shooter_intake.git
